DATABASE_DRIVER=mysql+aiomysql
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_NAME=app
DATABASE_USERNAME=root
DATABASE_PASSWORD=supersecret

SMTP_HOST=smtp.example.com
SMTP_PORT=2525
SMTP_USERNAME=email@example.com
SMTP_FROM=email@example.com
SMTP_PASSWORD=password

# OTP_CODE_EXPIRED_TIME=5
# OTP_CODE_MOCKUP=0000

REDIS_HOST=redis
REDIS_PORT=6379
# REDIS_USERNAME=
# REDIS_PASSWORD=
# REDIS_DB=0

# JWT_ALGORITHM=HS256
JWT_SECRET_KEY=SECRET_KEY
