# DEBUG=True

PROJECT_NAME="University"

POSTGRES_PORT=5432
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

JWT_SECRET_KEY=
JWT_MFA_SECRET_KEY=

SMTP_HOST=
SMTP_PORT=
SMTP_TLS=
SMTP_FROM=
SMTP_USER=
SMTP_PASSWORD=
